<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bambi.springcloud.provider.demo.mapper.DeptMapper">
    <select id="selectDeptById" parameterType="Long" resultType="com.bambi.spring.api.pojo.Dept">
        select dept_name, db_source
        from dept
        where dept_id = #{id};
    </select>
    <select id="selectAll" resultType="com.bambi.spring.api.pojo.Dept">
        select dept_id, dept_name, db_source
        from dept;
    </select>
    <insert id="addDept" parameterType="com.bambi.spring.api.pojo.Dept">
        insert into dept (dept_name, db_source) value (#{deptName},DATEBASE());
    </insert>

</mapper>