<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--设置二级缓存-->
        <setting name="cacheEnabled" value=""/>
    </settings>


    <!--
        最少要和其中一个environment一样
    -->
    <environments default="BambiOnline">
        <environment id="BambiOnline">
            <!--
                environment 一个数据库信息的配置环境
                id: 一个唯一的值，自定义，表示环境名称
            -->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/springclouddb01?useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="Reindeer"/>
            </dataSource>
        </environment>
    </environments>

    <!--
        类路径地址
    -->
    <mappers>
        <mapper resource=""/>
    </mappers>
</configuration>