<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bambi.springcloud.provider.hystrix.mapper.DeptMapper">
    <select id="queryAll" resultType="com.bambi.springcloud.api.vo.Dept">
        select dept_no,dept_name,db_source from dept;
    </select>

    <insert id="addDept" parameterType="com.bambi.springcloud.api.vo.Dept">
        insert into dept (dept_name,db_source) value(#{deptName},DATABASE());
    </insert>

    <select id="queryDeptById" resultType="com.bambi.springcloud.api.vo.Dept" parameterType="Long">
        select dept_no,dept_name,db_source from dept where dept_no = #{deptId};
    </select>
</mapper>